main {
    min-height: 100vh;
}


.book-details {
    padding: 2rem 2rem;
}

.book-details p {
    margin: 0.8rem 0;
    font-size: 1rem;
}

.book-author span {
    color: red;
    font-weight: 500;
}

.book-info img{
    width: 100%;
    max-width: 300px;
    height: auto;
     object-fit: cover;
}

.extra-info .add-favorite-btn {
    display: block;
    padding: 0.7rem;
    background-color: #cadbe7;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.add-favorite-btn:active {
    animation: click 0.25s ease-out;
}

/* remove from favorite btn */
.extra-info .remove-favorite-btn {
    display: block;
    padding: 0.7rem;
    background-color: #cadbe7;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}


.remove-favorite-btn:active {
    animation: click 0.25s ease-out;
}


@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.extra-info .icon {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.book-description {
    margin-top: 3rem;
}

.book-description h2 {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .book-info {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
    }

    .book-info img {
        padding-top: 15px;
        max-width: 200px;
    }

    .extra-info p span {
        display: block;
    }
}

@media (min-width: 950px) {
    .book-details {
    padding: 2rem 3rem;
}
}

@media (min-width: 1050px) {
    .book-details {
    padding: 2rem 4rem;
}
}