footer {
    background-color: var( --bs-blue-1);
    display: grid;
    grid-template-rows: auto auto;
    padding: 1rem 2rem;
    padding-top: 2rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2rem;
}


.footer-links {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: var(--bs-blue-2);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    display: block;
        font-weight: 500;

}

.footer-links a:hover {
    text-decoration: underline;
}

/* footer right  */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-right: 1rem;
}

.footer-right a {
    text-decoration: none;
}

@media (min-width: 766px) {
    .footer {
        /* padding: 0rem 5rem; */

    }

    .footer-links {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;  
        padding-top: 12px;      
    }

    .footer-right {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
}

@media (min-width: 950px) {
    .footer-links {
        gap: 3rem;
    }

    .footer-right {
        gap: 2rem;
    }
}

.copyright-container {
    text-align: center;
    padding: 1rem 5rem;
    border-top: 1px solid rgb(25, 10, 78);
    width: 80%;
    margin: 0 auto;
}

.copyright-container p {
    /* padding-top: 1.5rem; */
    font-size: 0.8rem;
}