
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ACC8E5; */
    background-color: rgba(172, 200, 229);

}

.logo {
    height: 50px;
    width: 90px;
    display: block;
    margin-left: 0.7rem;
}

.icon {
  width: 25px;
  height: 25px;    
}

header button {
    background-color: #ACC8E5;
    border: none;
}

/* header right section  */
.header-right {
    display: flex;
    gap: 0.3rem;
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-left: 1px solid #112A46 ;
    padding: 1.2rem;
    font-size: 1rem;

}

.search-btn {
    margin-top: 6px;
}

.search-form {
    display: none;
}

.search-box {
    position: relative;
    flex: 1;
    min-width: 150px;
    max-width: 600px;
    /* display: flex; */
}

.search-input {
    width: 100%;
    height: 40px; 
    /* flex: 1; */
    /* height: 40px; */
    padding: 0.3rem;
    border-radius: 20px;
    font-size: 1rem;
    padding-left: 15px;
    border: none;
}

.search-form select {
    border-radius: 5px;
    margin-left: 8px;
    flex-shrink: 0;
    /* border: none; */
    
    background-color: #f7f7f7; 
    
    /* Add padding for better spacing */
    padding: 8px 30px 8px 10px;
    font-size: 14px;
}

.search-form button {
    background-color: transparent;
    position: absolute;
    right: 13px;
    top: 7px;
    /* width: 25px; */
    /* height: 25px; */
}

.search-form.active-form {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    background-color: rgba(172, 200, 229);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

@media(max-width: 800px) {
    .search-box {
        flex: none;
        /* width: 350px; */
    }

    .search-input {
        width: 350px;
    }

}

.close-btn {
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 5px;
}

.close-btn .icon {
    width: 15px;
    height: 15px;
}


/* drop down menu  */

 .nav-container {
    display: none;
}

.nav-container a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-container a:hover {
    text-decoration: underline;
}

.favorite-btn {
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    padding: 0;
}

.active-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;

}

@media(min-width: 800px) {
        
    header { 
        padding: 0.5rem;
    }

    .header-right {
        gap: 1.2rem;
        padding: 0.8rem 1rem;
        flex: 1;
        justify-content: flex-end;
        margin-left: 2rem;
    }

    .search-btn, .menu-btn {
        display: none;
    }

    .search-form {
        display: flex;
        align-items: center;
        gap: 5px;
        max-width: 600px;
        flex: 1;
    }


    .search-form select {
        flex-shrink: 0;
        padding: 0.3rem;
    }


    .nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .nav-container a, .nav-container button {
        font-size: 1rem;
        flex-shrink: 0;
    }
}

