/* body {
    position: relative;
} */

.hero-left {
    margin-bottom: 1rem;
}

.hero-left img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.hero-right h1 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
    padding: 0 0.5rem;
}

.hero-right p {
    text-align: center;
    padding: 0 1rem;
    line-height: 1.3;
}

.line {
    border-bottom: 1px solid var(--bs-grey-3);
    width: 85%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .hero-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
    }

    .line {
        display: none;
    }
}

/* favorite books  */
.recommended-container, .favorite-container, .feebback-container {
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
}
.recommended-container h1, .favorite-container h1, .feebback-container h1 {
    font-size: 1.8rem;
}
.recommended-container > p, .favorite-container > p {
 text-align: center;
 /* width: 80%; */
 display: block;
 margin: 0 auto;
 margin-bottom: 1.5rem;
}

.books {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;

}

.book {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--bs-grey-3); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 100%;
}



.book img {
    height: 100%;
    display: block;
    margin: 1rem auto;
    width: 140px;
    transition: transform 0.3s ease;
}

.book:hover img {
    transform: scale(1.05);
}

.img-container {
    height: 200px;
    margin-bottom: 1rem;
}

.book h2 {
    font-size: 1.3rem;
}

.book p {
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .books {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }


    .recommended-container > p, .favorite-container > p {
        width: 80%;
    }


}

/* feedback  */
.feedback-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.feedback {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    padding: 1rem 1.5rem;
    /* border: 1px solid var(--bs-grey-3); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}

.feedback img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feedback h2 {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.feedback p {
    font-size: 0.9rem;
}

.contact-us-container {
    display: none;
}

.contact-us-container.slide-in {
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    right: 0;
    top: 65%;
    width: 300px;
    height: auto;
    padding: 0.5rem 1.5rem;
    position: fixed;
    background-color: rgb(249, 249, 249);
    display: block;
    animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
    
}

.contact-us-container p {
    text-align: center;
    margin-top: 2rem;
}


.feedback-btn {
  display: block;
  /* background-color: var(--bs-blue-1); */
  /* padding: 10px 20px; */
  /* border-radius: 0.5rem; */
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin: 1rem auto;
  width: 150px;
  text-align: center;
  color: blue;
}

.feedback-btn:hover {
  transform: translateY(-2px);
}

.fb-close-btn {
    position: absolute;
    top: 10px;
    right: 3px;
    background-color: transparent;
    border: none;
    padding: none;
    font-weight: bold;
}

@media (min-width: 768px) {

.feedback-content {
    flex-direction: row;
    justify-content: center;
}

.feedback {
    width: 40%;
}

}