main {
    padding: 2rem 1.5rem;
}

main h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.book-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

li {
    border-bottom: 1px solid var(  --bs-grey-3);
    padding: 1.5rem 0;
}

.book-list li img {
    width: 150px;
    vertical-align: middle;
    margin-right: 1rem;
}

.book-list li h2 {
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.book-info-container {
    position: relative;
}

.book-info-container p {
    margin: 1rem 0;
    font-size: 1rem;
}

.book-info-container button {
    background-color: var(--bs-blue-1);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.book-info-container .icon {
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.book-info-container a {
    text-decoration: none;
    color: var(--bs-blue-2);
    color: blue;
    position: absolute;
    right: 1rem;
}

@media (min-width: 900px) {
    .book-list li {
        width: 80%;
    }
}