main {
    padding: 2rem 1.5rem;
}

main h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.book-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0;
}

.book-list li {
    border-bottom: 1px solid var(  --bs-grey-3);
    padding: 1.5rem 0;
    width: 100%;
}

.book-list li img {
    width: 150px;
    vertical-align: middle;
    margin-right: 1rem;
}

.book-list li h2 {
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.book-info-container {
    position: relative;
}

.book-info-container p {
    margin: 1rem 0;
    font-size: 1rem;
}

.book-info-container .add-favorite-btn {
    display: block;
    padding: 0.7rem;
    background-color: #cadbe7;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.add-favorite-btn:active {
    animation: click 0.25s ease-out;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.book-info-container .remove-favorite-btn {
    display: block;
    padding: 0.7rem;
    background-color: #cadbe7;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.remove-favorite-btn:active {
    animation: click 0.25s ease-out;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.book-info-container .icon {
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.book-info-container a {
    text-decoration: none;
    color: var(--bs-blue-2);
    color: blue;
    position: absolute;
    right: 1rem;
    bottom: -0.2rem;
}

@media (min-width: 900px) {
    .book-list li {
        width: 80%;
    }
}